a {
  text-decoration: none;
  font-size: 1.3rem;
  margin-right: 5px;
  color: blue;
}
.selected {
  color: black;
}
.calc-body {
  border: 1px solid black;
  width: 410px;
}

.lightgray {
  background-color: lightgray;
  border-radius: 5px;
  padding: 10px;
  width: 75px;
  border: none;
  font-size: 1.3rem;
}

.lightgray:hover {
  background-color: gray;
  cursor: pointer;
}

.lightblue {
  background-color: rgb(210, 241, 252);
  border-radius: 5px;
  padding: 10px;
  width: 75px;
  border: none;
  font-size: 1.3rem;
}

.lightblue:hover {
  background-color: lightblue;
  cursor: pointer;
}

.display {
  padding: 10px 0;
  font-size: 1.5rem;
  text-align: right;
}
.calculator-buttons > * {
  margin: 10px 0;
}
.btn-row > * {
  margin: 0 10px;
}
